#calculatorContainer{
    border:5px ridge palegoldenrod;
    margin:10px;
    padding:3%;
    border-radius: 15px;
    background-image:url("./gif/math.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
    box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.2);
}

#numberButtonContainer{
    text-align:center;
    padding:3%;
    width:70%;
    display:inline-block;
    border-radius: 15px;
    background-color: beige;
    margin-bottom: 1%;
    
    padding-top:4.5rem;


}

#MathButtonContainers{
    display:inline-block;
    width:28%;
    background-color:gainsboro;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 3%;
    padding-left: 10%;
    margin-top:3rem;




}

#calculatorDisplay{
    height:50px;
    width:50%;
    border:solid 1px black;
    background-color: white;
    border-radius:10px;
}

.NumberButton{
    background-color: turquoise;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
}

.NumberButton:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color:aqua;
}

.MathButton{

    background-color: darkgoldenrod;
    width:30%;
    border-radius: 10px;
    display:block;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;

}

.MathButton:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: darkkhaki;

}

#ControlButtonContainer{
    text-align: center;
    border-radius: 20px;
    background-color:palevioletred;
    vertical-align:bottom;
    padding-bottom: 3%;
}

.controlButton{
    background-color: yellow;
    border-radius: 10px;
    width:20%;
    position:relative;
    bottom:5%;
    height:50%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
}

.controlButton:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: darkorange;
}

#backSpaceImage{
    height:20px;
}

#calcTitle{
    text-align: center;
}

@media(max-width:599px){

    .MathButton{
        background-color: darkgoldenrod;
        width:70%;
    }

    .NumberButton{
        background-color: turquoise;
        width:30%;
    }


}